
gym~=0.18.0
pygame~=2.0.1
#scipy
#keras
# We will use tensorflow 1.14, because for releases 1.14 and older, CPU and GPU packages are separate
# tensorflow==1.14 —Release for CPU-only
# tensorflow-gpu==1.14 —Release with GPU support (Ubuntu and Windows)

# Also use an older numpy version to not get the future warnings from deprecated functions in newest numpy from
# calls from the older tensorflow.
numpy==1.16.6

# TW: provides DQNAgent
#keras-rl2==1.0.3
future~=0.18.2
Pillow~=7.2.0